VITE_SUPABASE_URL=https://ebhetndpsowxocqaqyfs.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImViaGV0bmRwc293eG9jcWFxeWZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxOTI0ODAsImV4cCI6MjA5Mzc2ODQ4MH0.dC6_iPZUxCpPcZlo8dkF4DFkC-xP3L1CQvmML5hZqBs
